---
import Layout from "../layouts/Layout.astro";
import TurnstileWidget from "../components/TurnstileWidget.astro";

const turnstileKey = import.meta.env.TURNSTILE_SITE_KEY;
---

<script src="./src/scripts/turnstile-callbacks.ts" is:inline></script>

<Layout title="Register">
    <p>Already have an account? <a href="/signin">Sign in</a></p>
    <form action="/api/auth/register" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <TurnstileWidget siteKey={turnstileKey} />
        <button data-turnstile-button type="submit" disabled>Register</button>
    </form>
</Layout>
