---
import Layout from "../layouts/Layout.astro";
import TurnstileWidget from "../components/TurnstileWidget.astro";
---

<Layout title="Register">
    <p>Already have an account? <a href="/signin">Sign in</a></p>
    <form action="/api/auth/register" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <TurnstileWidget />
        <button data-turnstile-button type="submit" disabled>Register</button>
    </form>
</Layout>
