---
import Layout from "../layouts/Layout.astro";
import TurnstileWidget from "../components/TurnstileWidget.astro";
---

<Layout title="Sign in">
    <p>New here? <a href="/register">Create an account</a></p>
    <form action="/api/auth/signin" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <TurnstileWidget />
        <button data-turnstile-button type="submit" disabled>Login</button>
    </form>
</Layout>
