---

---

<div
    class="cf-turnstile"
    data-response-field-name="cf-turnstile-response"
    data-sitekey={import.meta.env.PUBLIC_TURNSTILE_SITE_KEY}
    data-size="normal"
    data-callback="onTurnstileSuccess"
>
</div>

<script type="module">
    const cfWidget = document.querySelector(".cf-turnstile");
    const clickedButton = document.querySelector(
        "button[data-turnstile-button]",
    );

    const onSuccess = (token) => {
        if (clickedButton) clickedButton.disabled = false;
    };

    // Cloudflare requires a global callback?
    window.onTurnstileSuccess = onSuccess;
</script>

<script
    is:inline
    src="https://challenges.cloudflare.com/turnstile/v0/api.js"
    async
    defer></script>
