---
import { TURNSTILE_SITE_KEY } from "astro:env/client";
---

<div
    class="cf-turnstile"
    data-response-field-name="cf-turnstile-response"
    data-sitekey={TURNSTILE_SITE_KEY}
    data-size="normal"
    data-callback="onTurnstileSuccess"
>
</div>

<script
    is:inline
    src="https://challenges.cloudflare.com/turnstile/v0/api.js"
    async
    defer></script>

<script src="./src/scripts/turnstile-callbacks.ts" is:inline></script>
